-r requirements.txt

attrs==20.3.0
atomicwrites==1.4.0
beautifulsoup4==4.9.3
codecov==2.1.11
coverage==5.3.1
more-itertools==8.6.0
pluggy==0.13.1
py==1.10.0
pytest==6.2.1
pytest-cov==2.10.1
pytest-runner==5.2
waitress==1.4.4
WebOb==1.8.2
WebTest==2.0.30
