-r requirements.txt

attrs==23.1.0
atomicwrites==1.4.1
beautifulsoup4==4.12.2
codecov==2.1.13
coverage==7.2.7
more-itertools==10.1.0
pluggy==1.2.0
py==1.11.0
pytest==7.4.0
pytest-cov==4.1.0
pytest-runner==6.0.0
waitress==2.1.2
WebOb==1.8.7
WebTest==2.0.30
