-r requirements.txt

attrs==19.3.0
atomicwrites==1.4.0
beautifulsoup4==4.9.1
codecov==2.1.7
coverage==5.2
more-itertools==8.4.0
pluggy==0.13.1
py==1.9.0
pytest==5.4.3
pytest-cov==2.10.0
pytest-runner==5.2
waitress==1.4.4
WebOb==1.8.6
WebTest==2.0.30
