<nav>
  <div class="nav-wrapper grey darken-3">
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="">
          </div>
          <a href="#!user"><img class="circle" src="https://avatars.githubusercontent.com/m1yag1"></a>
          <a href="#!name"><span class="black-text name">Mike From IT</span></a>
          <a href="#!email"><span class="black-text blockquote-reverse">"Beautiful is better than ugly"</span></a>
        </div>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">Admin</a></li>
      <li><a href="#!"><i class="material-icons">account_circle</i>Login</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">Pages</a></li>
      <li><a href="#!"><i class="material-icons">keyboard</i>About</a></li>
      <li><a href="#!"><i class="material-icons">language</i>Contact</a></li>
      <li>
        <div class="divider"></div>
      </li>
    </ul>
    <a href="#" data-activates="slide-out"
       class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
  </div>
</nav>

